recursive-include pgbm *.cpp *.cu *.pyx
recursive-include pgbm/sklearn *.py
recursive-include pgbm/torch *.py
recursive-include pgbm/sklearn/tests *.py
recursive-include pgbm/torch/tests *.py
global-exclude *.pyc